.img {
    width:95%;
    height:50%;
    /* margin: 1%; */
    
    border-radius: 6%; 
}


.container {
    display: grid;
    
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-content: center;
    padding-right: 15%;
    padding-left: 15%;
}
.card {
    width:90%;
    height: 58vh;
    justify-content: space-evenly;
    padding: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
     
    margin: 3%;
    
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);  /* deep-side   deep-up-down   blurring   (color&intensity)*/
    background-color: rgb(249, 232, 172);
    border-radius: 6%;
}

.card:hover {
    background-color:  rgb(253, 248, 201); 
}

fieldset {
    margin: 0;
	border: 0.5px solid #983916;;
	
    border-radius: 8px;
    transform: scale(0.95);
    opacity: 0.6;
    transition: transform 0.6s ease; 
}

fieldset:hover{
    opacity: 1;
    transform: scale(1.05);
}

p{
    margin: 0; 
    padding: 0; 
    font-size: 0.8rem; 
    color: #983916;
}

.checkbox{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 3%;
}
.checkbox2{
    display:flex;
    flex-wrap: wrap;
    margin-bottom: 3%; 
}

.price{
    vertical-align:text-top;
    font-size: 70%;
    font-weight:900;
    
}

.price2{
    vertical-align:middle;
    font-size: 130%;
    font-weight:900;
    
}
.quantity{
    font-size:x-small;
    margin-left: 0%;
}
button{
    
    float: right;
    border-radius: 20px;
    height: 75%; 
    background-color: #ff4800;
    color:white;
    border: none;
    font-weight: bold;
    margin-top: 1%;
    /* margin-left: 2%; */
    
    font-size: 0.9em;

}
/* .a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: 1%;
} */